<div class = "questions">
  <h1>Questions</h1>
  <% @questions.each do |question| %>
    <a href="/questions/<%= question.id %>/answers">
    <%= question.title %></a><br/>
  <% end %>
</div>

<br>
<% if current_user %>
  <div class="new_question">
  <%= link_to "New question", new_question_path %>
  </div>
<% end %>