/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'avenir';
  src: url('https://cdn.shopify.com/s/files/1/0127/4312/t/112/assets/AvenirNextLTPro-Regular.eot');
  src: local('â˜º'), url('https://cdn.shopify.com/s/files/1/0127/4312/t/112/assets/AvenirNextLTPro-Regular.woff') format('woff'), url('https://cdn.shopify.com/s/files/1/0127/4312/t/112/assets/AvenirNextLTPro-Regular.ttf') format('truetype'), url('https://cdn.shopify.com/s/files/1/0127/4312/t/112/assets/AvenirNextLTPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 105px;
  background-color:#DDEBED !important;
  font-family: 'avenir' !important;
  letter-spacing: .07em;
}

body a {
  font-family: 'avenir' !important;
  font-weight: 500;
}

body h2 {
  font-family: 'avenir' !important;
  text-transform: uppercase;
  font-weight: 200;
}

#accordion {

}

#ask {
  margin-top: 10px;
}

#footer {
  padding-top:7px;
}

#navbar-button {
  margin-left: 20px;
}

.acc-body {

}

